@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .gradient-text {
    background: linear-gradient(90deg, #017489, #147446);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
